*.iml
.gradle
/local.properties
/android/.idea/workspace.xml
/.idea/workspace.xml
/android/.idea/libraries
/.idea/libraries
.DS_Store
/android/build
/build
/captures
.externalNativeBuild

/android/*.iml
/android/.gradle
/android/local.properties
/android/.idea/
/android/.idea/workspace.xml
/android/.idea/libraries/
/android/.DS_Store
/android/build
/android/captures
/android/.externalNativeBuild
